# Gradle files
.gradle/
app/.gradle/
app/build/
app/app/build/
app/local.properties
debug/

# IDE files
.idea/
*.iml
.vscode/

# Node dependencies
backend/node_modules/
backend/.env
backend/.paychek_scan_test.txt
app/.kotlin/

# OS files
Thumbs.db
.DS_Store

# Chat autosave files
autosave_chat.js
active_chat_history.md
active_chat_history.md.bak
chat_histories/

# Temp DB and Binaries
Redis_new/
Redis_new.zip
temp_mysql_data/
dump.rdb
*.class

