-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: paychek_online_v2
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `checkout_view_templates`
--

DROP TABLE IF EXISTS `checkout_view_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `checkout_view_templates` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sms_template_id` int(11) NOT NULL,
  `single_number_instruction` text NOT NULL COMMENT 'Instruction shown when 1 number is active',
  `multiple_number_instruction` text NOT NULL COMMENT 'Instruction shown when >1 numbers are active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_sms_template` (`sms_template_id`),
  CONSTRAINT `fk_checkout_view_sms_template` FOREIGN KEY (`sms_template_id`) REFERENCES `sms_templates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=553 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checkout_view_templates`
--

LOCK TABLES `checkout_view_templates` WRITE;
/*!40000 ALTER TABLE `checkout_view_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `checkout_view_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `device_trial_logs`
--

DROP TABLE IF EXISTS `device_trial_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `device_trial_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `android_id` varchar(255) NOT NULL,
  `hardware_fingerprint` varchar(255) NOT NULL,
  `sim_slot_ids` varchar(255) NOT NULL,
  `has_used_trial` tinyint(4) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_device_binding` (`android_id`,`hardware_fingerprint`,`sim_slot_ids`),
  KEY `idx_android_id` (`android_id`),
  KEY `idx_fingerprint` (`hardware_fingerprint`),
  KEY `idx_sim_slots` (`sim_slot_ids`),
  KEY `idx_dtl_android` (`android_id`(64))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `device_trial_logs`
--

LOCK TABLES `device_trial_logs` WRITE;
/*!40000 ALTER TABLE `device_trial_logs` DISABLE KEYS */;
INSERT INTO `device_trial_logs` VALUES (4,4,'3fe864e3b1b1028a','OnePlus/MT2111_IND/OP5155L1:14/UKQ1.230924.001/R.2202aff-2-fc45e:user/release-keys','no_sims',1,'2026-06-23 17:56:23');
/*!40000 ALTER TABLE `device_trial_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gateway_layouts`
--

DROP TABLE IF EXISTS `gateway_layouts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gateway_layouts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `site_name` varchar(255) NOT NULL DEFAULT '' COMMENT 'Merchant site label',
  `site_url` varchar(512) DEFAULT NULL COMMENT 'Target checkout website URL',
  `api_key` varchar(255) NOT NULL DEFAULT '' COMMENT 'Public API key for verification requests',
  `api_secret` varchar(255) NOT NULL DEFAULT '' COMMENT 'SHA256 hashed secret key',
  `layout_config` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Checkout block definitions (blueprint: checkout_layout.dart)' CHECK (json_valid(`layout_config`)),
  `redirect_url` varchar(512) DEFAULT NULL COMMENT 'Success redirect target URL',
  `callback_url` varchar(512) DEFAULT NULL COMMENT 'Webhook POST endpoint for payment events',
  `is_active` tinyint(4) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_api_key` (`api_key`),
  KEY `idx_gateway_user` (`user_id`),
  KEY `idx_gateway_active` (`user_id`,`is_active`),
  CONSTRAINT `fk_gateway_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gateway_layouts`
--

LOCK TABLES `gateway_layouts` WRITE;
/*!40000 ALTER TABLE `gateway_layouts` DISABLE KEYS */;
INSERT INTO `gateway_layouts` VALUES (4,12,'Test Store 2','https://teststore2.com','pk_18183b646e6ac8040013a2536779ef6b','sk_1204a2788cc76a07339cda45f10e80f867f1739b25eb6378','{}',NULL,NULL,1,'2026-06-23 12:51:33','2026-06-23 12:51:33');
/*!40000 ALTER TABLE `gateway_layouts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gateway_methods`
--

DROP TABLE IF EXISTS `gateway_methods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gateway_methods` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(255) NOT NULL,
  `sim_slot` int(11) NOT NULL DEFAULT 1,
  `provider` varchar(50) NOT NULL,
  `number` varchar(20) NOT NULL,
  `display_name` varchar(100) DEFAULT NULL,
  `is_enabled` tinyint(4) NOT NULL DEFAULT 0,
  `priority` int(11) NOT NULL DEFAULT 0,
  `template_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `device_id` varchar(255) NOT NULL DEFAULT '',
  `custom_patterns` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_template` (`template_id`),
  KEY `idx_user_device` (`user_id`,`device_id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gateway_methods`
--

LOCK TABLES `gateway_methods` WRITE;
/*!40000 ALTER TABLE `gateway_methods` DISABLE KEYS */;
/*!40000 ALTER TABLE `gateway_methods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `global_config`
--

DROP TABLE IF EXISTS `global_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `global_config` (
  `config_key` varchar(128) NOT NULL,
  `config_value` text NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`config_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `global_config`
--

LOCK TABLES `global_config` WRITE;
/*!40000 ALTER TABLE `global_config` DISABLE KEYS */;
INSERT INTO `global_config` VALUES ('facebook_support_link','https://www.facebook.com/share/1CbbezKhGj/','2026-06-19 17:32:50'),('gmail_tracking_enabled','false','2026-06-19 10:28:38'),('maintenance_mode','false','2026-06-19 10:28:38'),('registration_enabled','true','2026-06-19 10:28:38'),('sms_tracking_enabled','true','2026-06-19 10:28:38'),('telegram_support_link','https://t.me/dubai_telecom_admin','2026-06-19 17:32:50'),('whatsapp_support_link','https://wa.me/8801894086541','2026-06-19 17:32:50'),('youtube_support_link','https://youtube.com','2026-06-19 17:32:50');
/*!40000 ALTER TABLE `global_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp_sms_templates`
--

DROP TABLE IF EXISTS `otp_sms_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `otp_sms_templates` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(128) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp_sms_templates`
--

LOCK TABLES `otp_sms_templates` WRITE;
/*!40000 ALTER TABLE `otp_sms_templates` DISABLE KEYS */;
INSERT INTO `otp_sms_templates` VALUES (1,'otp_format_template','αªåαª¬αª¿αª╛αª░ αª¬αºìαª░αª┐αª»αª╝ αª¬αºç-αªÜαºçαªò αªàαºìαª»αª╛αª¬ αª¡αºçαª░αª┐αª½αª┐αªòαºçαª╢αª¿ αªòαºïαªí αª╣αª▓αºï: {otp}αÑñ αªòαºïαªíαªƒαª┐ αªùαºïαª¬αª¿ αª░αª╛αªûαºüαª¿αÑñ','2026-06-19 10:28:38');
/*!40000 ALTER TABLE `otp_sms_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otps`
--

DROP TABLE IF EXISTS `otps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `otps` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `contact` varchar(255) NOT NULL COMMENT 'Phone number or Email address',
  `code` varchar(255) NOT NULL,
  `expires_at` datetime NOT NULL,
  `used_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_contact` (`contact`),
  KEY `idx_code_contact` (`code`,`contact`),
  KEY `idx_contact_code` (`contact`,`code`)
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otps`
--

LOCK TABLES `otps` WRITE;
/*!40000 ALTER TABLE `otps` DISABLE KEYS */;
/*!40000 ALTER TABLE `otps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registered_devices`
--

DROP TABLE IF EXISTS `registered_devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `registered_devices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `device_id` varchar(255) NOT NULL COMMENT 'Android Hardware ID (android_id)',
  `android_id` varchar(255) DEFAULT NULL COMMENT 'Raw Android ID',
  `hardware_fingerprint` varchar(512) DEFAULT NULL COMMENT 'Build.FINGERPRINT',
  `sim_slot_ids` text DEFAULT NULL COMMENT 'SIM subscription IDs JSON',
  `device_name` varchar(255) NOT NULL DEFAULT 'My Phone',
  `custom_name` varchar(255) DEFAULT NULL COMMENT 'User-renamed label',
  `device_model` varchar(255) NOT NULL DEFAULT '',
  `android_version` varchar(64) NOT NULL DEFAULT '',
  `status` enum('pending','active','rejected') NOT NULL DEFAULT 'pending',
  `is_parent` tinyint(4) NOT NULL DEFAULT 0,
  `is_approved` tinyint(4) NOT NULL DEFAULT 0,
  `device_role` varchar(20) NOT NULL DEFAULT 'pending' COMMENT 'owner | restricted | pending',
  `sim1_number` varchar(32) DEFAULT NULL,
  `sim1_operator` varchar(64) DEFAULT NULL,
  `sim2_number` varchar(32) DEFAULT NULL,
  `sim2_operator` varchar(64) DEFAULT NULL,
  `sim_settings` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Full slot filter JSON from app' CHECK (json_valid(`sim_settings`)),
  `last_seen_at` timestamp NULL DEFAULT NULL,
  `last_battery_percent` tinyint(3) unsigned DEFAULT NULL,
  `trial_started_at` timestamp NULL DEFAULT NULL,
  `trial_expires_at` timestamp NULL DEFAULT NULL,
  `is_trial_locked` tinyint(4) NOT NULL DEFAULT 0,
  `lock_reason` varchar(64) DEFAULT NULL COMMENT 'trial_expired | manual_block | payment_required',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `custom_device_name` varchar(100) NOT NULL DEFAULT '',
  `sim_one_number` varchar(15) DEFAULT NULL,
  `sim_one_active` tinyint(4) DEFAULT 1,
  `sim_two_number` varchar(15) DEFAULT NULL,
  `sim_two_active` tinyint(4) DEFAULT 1,
  `is_app_active` tinyint(4) DEFAULT 1,
  `is_owner_device` tinyint(4) DEFAULT 0,
  `device_specific_pin` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_user_device` (`user_id`,`device_id`),
  KEY `idx_device_id` (`device_id`),
  KEY `idx_status` (`status`),
  KEY `idx_is_parent` (`is_parent`),
  KEY `idx_trial_lock` (`is_trial_locked`,`trial_expires_at`),
  CONSTRAINT `fk_devices_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registered_devices`
--

LOCK TABLES `registered_devices` WRITE;
/*!40000 ALTER TABLE `registered_devices` DISABLE KEYS */;
/*!40000 ALTER TABLE `registered_devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sms_gateways`
--

DROP TABLE IF EXISTS `sms_gateways`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sms_gateways` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `provider_name` varchar(128) DEFAULT NULL COMMENT 'Human-readable label e.g. "Green Web SMS"',
  `gateway_url` varchar(512) NOT NULL COMMENT 'Gateway base URL with placeholders',
  `http_method` varchar(10) NOT NULL DEFAULT 'GET',
  `post_body_template` text DEFAULT NULL,
  `api_key` varchar(255) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `sender_id` varchar(64) DEFAULT NULL,
  `is_active` tinyint(4) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sms_gateways`
--

LOCK TABLES `sms_gateways` WRITE;
/*!40000 ALTER TABLE `sms_gateways` DISABLE KEYS */;
INSERT INTO `sms_gateways` VALUES (1,NULL,'http://bulksmsbd.net/api/smsapi','GET',NULL,'hknDpPg0AazTNirpWyao','nobab002','8809617626944',1,'2026-06-19 10:50:28','2026-06-19 10:50:28');
/*!40000 ALTER TABLE `sms_gateways` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sms_history`
--

DROP TABLE IF EXISTS `sms_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sms_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `device_id` varchar(255) NOT NULL DEFAULT '',
  `sim_slot` tinyint(4) DEFAULT NULL COMMENT '1 or 2',
  `sim_number` varchar(32) DEFAULT NULL,
  `provider_tag` varchar(128) NOT NULL DEFAULT '' COMMENT 'bKash | Nagad | Rocket | Upay',
  `amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `trx_id` varchar(64) NOT NULL DEFAULT '' COMMENT 'Unique Transaction ID from SMS',
  `sender_number` varchar(32) DEFAULT NULL COMMENT 'Sender mobile number or address',
  `receiver_number` varchar(32) DEFAULT NULL,
  `sms_timestamp` datetime NOT NULL COMMENT 'Timestamp parsed from SMS body',
  `sms_date` date DEFAULT NULL,
  `full_sms` text DEFAULT NULL COMMENT 'Original SMS text',
  `dedupe_key` varchar(512) NOT NULL DEFAULT '' COMMENT 'Deduplication composite key',
  `raw_sms_sha256` varchar(64) DEFAULT NULL COMMENT 'SHA256(rawSmsBody) ΓÇö server-side integrity hash',
  `is_synced` tinyint(4) NOT NULL DEFAULT 0,
  `is_used` tinyint(4) NOT NULL DEFAULT 0,
  `used_at` timestamp NULL DEFAULT NULL,
  `used_by_merchant_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_trx_id_unique` (`trx_id`),
  UNIQUE KEY `uniq_dedupe` (`user_id`,`dedupe_key`(255)),
  KEY `idx_user_time` (`user_id`,`sms_timestamp`),
  KEY `idx_user_trx` (`user_id`,`trx_id`),
  KEY `idx_provider` (`user_id`,`provider_tag`),
  KEY `idx_verify_lookup` (`user_id`,`trx_id`,`amount`,`is_used`),
  KEY `idx_device_sync` (`device_id`,`is_synced`),
  KEY `idx_raw_sms_hash` (`user_id`,`raw_sms_sha256`),
  KEY `idx_user_id_sms` (`user_id`),
  CONSTRAINT `fk_sms_history_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sms_history`
--

LOCK TABLES `sms_history` WRITE;
/*!40000 ALTER TABLE `sms_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `sms_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sms_parse_failures`
--

DROP TABLE IF EXISTS `sms_parse_failures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sms_parse_failures` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `device_id` varchar(255) NOT NULL DEFAULT '',
  `raw_body` text NOT NULL COMMENT 'Original SMS text ΓÇö HMAC verified',
  `raw_body_hash` varchar(64) NOT NULL COMMENT 'SHA256(rawBody) ΓÇö for dedup and lookup',
  `hmac_signature` varchar(128) NOT NULL COMMENT 'Client HMAC ΓÇö verified, kept for audit',
  `parse_error` varchar(512) DEFAULT NULL COMMENT 'Failure reason from parseRawSms()',
  `sms_timestamp_ms` bigint(20) DEFAULT NULL COMMENT 'Original SMS epoch ms timestamp',
  `is_resolved` tinyint(4) NOT NULL DEFAULT 0,
  `resolved_at` timestamp NULL DEFAULT NULL,
  `admin_note` text DEFAULT NULL COMMENT 'Admin note on resolution',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_parse_fail_user` (`user_id`,`created_at`),
  KEY `idx_parse_fail_hash` (`raw_body_hash`),
  KEY `idx_parse_fail_unresolved` (`is_resolved`,`created_at`),
  CONSTRAINT `fk_parse_fail_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sms_parse_failures`
--

LOCK TABLES `sms_parse_failures` WRITE;
/*!40000 ALTER TABLE `sms_parse_failures` DISABLE KEYS */;
/*!40000 ALTER TABLE `sms_parse_failures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sms_templates`
--

DROP TABLE IF EXISTS `sms_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sms_templates` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL COMMENT 'NULL for admin/global, user_id for custom templates',
  `template_name` varchar(128) NOT NULL COMMENT 'Display name e.g. bKash Personal',
  `sender_id` varchar(64) NOT NULL DEFAULT '' COMMENT 'Sender address to match e.g. bKash',
  `matching_keyword` varchar(255) DEFAULT NULL COMMENT 'Comma-separated keywords required for strict verification',
  `regex_pattern` text DEFAULT NULL,
  `is_official` tinyint(4) NOT NULL DEFAULT 1,
  `is_active` tinyint(4) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `sender_number` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_template_name` (`template_name`),
  KEY `idx_template_sender` (`sender_id`),
  KEY `idx_template_user` (`user_id`),
  CONSTRAINT `fk_template_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sms_templates`
--

LOCK TABLES `sms_templates` WRITE;
/*!40000 ALTER TABLE `sms_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `sms_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `smtp_gateways`
--

DROP TABLE IF EXISTS `smtp_gateways`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `smtp_gateways` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL COMMENT 'SMTP app-specific password',
  `host` varchar(255) NOT NULL DEFAULT 'smtp.gmail.com',
  `port` int(11) NOT NULL DEFAULT 465,
  `secure` tinyint(4) NOT NULL DEFAULT 1,
  `daily_limit` int(11) NOT NULL DEFAULT 500,
  `sent_today` int(11) NOT NULL DEFAULT 0,
  `last_reset_at` timestamp NULL DEFAULT NULL COMMENT 'Last time sent_today was reset to 0',
  `is_active` tinyint(4) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_email_acc` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `smtp_gateways`
--

LOCK TABLES `smtp_gateways` WRITE;
/*!40000 ALTER TABLE `smtp_gateways` DISABLE KEYS */;
INSERT INTO `smtp_gateways` VALUES (1,'paymentcheckerbd@gmail.com','vabh qblx ostm xbih','smtp.gmail.com',465,1,499,6,NULL,1,'2026-06-19 10:49:55','2026-06-24 09:32:40');
/*!40000 ALTER TABLE `smtp_gateways` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscription_plans`
--

DROP TABLE IF EXISTS `subscription_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subscription_plans` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `plan_name` varchar(50) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `max_sites` int(11) NOT NULL,
  `max_devices` int(11) NOT NULL,
  `duration_days` int(11) DEFAULT 365,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `plan_name` (`plan_name`)
) ENGINE=InnoDB AUTO_INCREMENT=187 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscription_plans`
--

LOCK TABLES `subscription_plans` WRITE;
/*!40000 ALTER TABLE `subscription_plans` DISABLE KEYS */;
INSERT INTO `subscription_plans` VALUES (1,'Basic',100.00,1,1,365,'2026-06-19 10:48:13'),(2,'Standard',200.00,3,3,365,'2026-06-19 10:48:13'),(3,'Premium',500.00,999,10,365,'2026-06-19 10:48:13'),(43,'Trial Package',0.00,3,5,7,'2026-06-20 07:01:42'),(131,'ultra',999.00,99,99,365,'2026-06-20 15:06:33'),(165,'EID PREMIUM  Γü╡Γü░Γäàbdiscount',50.00,2,5,365,'2026-06-20 17:39:37');
/*!40000 ALTER TABLE `subscription_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_credentials`
--

DROP TABLE IF EXISTS `user_credentials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_credentials` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `type` enum('phone','email') NOT NULL,
  `value` varchar(255) NOT NULL,
  `verified_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_cred_value` (`value`),
  KEY `idx_cred_user_type` (`user_id`,`type`),
  CONSTRAINT `fk_cred_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_credentials`
--

LOCK TABLES `user_credentials` WRITE;
/*!40000 ALTER TABLE `user_credentials` DISABLE KEYS */;
INSERT INTO `user_credentials` VALUES (16,4,'email','nobab.yousuf.hazi.99@gmail.com','2026-06-23 23:56:23','2026-06-23 17:56:06'),(17,4,'phone','01894086541','2026-06-23 23:56:23','2026-06-23 17:56:23'),(26,12,'phone','01711223344','2026-06-24 00:51:33','2026-06-23 18:51:33'),(27,4,'email','bangladeshy7@gmail.com','2026-06-24 05:16:50','2026-06-23 23:16:50'),(28,4,'phone','01614677619','2026-06-24 05:17:06','2026-06-23 23:17:06');
/*!40000 ALTER TABLE `user_credentials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL DEFAULT '',
  `avatar` varchar(255) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL COMMENT 'BD format: 01XXXXXXXXX',
  `email` varchar(255) DEFAULT NULL,
  `pin` varchar(255) NOT NULL DEFAULT '' COMMENT 'bcrypt hashed 6-digit PIN',
  `balance` decimal(12,2) NOT NULL DEFAULT 0.00,
  `blocked` tinyint(4) NOT NULL DEFAULT 0,
  `role` varchar(20) NOT NULL DEFAULT 'user' COMMENT 'user | admin',
  `is_paid` tinyint(4) DEFAULT 0,
  `active_plan_name` varchar(50) DEFAULT 'FREE_LEVEL',
  `expiry_date` date DEFAULT NULL,
  `profile_complete` tinyint(4) NOT NULL DEFAULT 0,
  `sms_enabled` tinyint(4) NOT NULL DEFAULT 1,
  `gmail_enabled` tinyint(4) NOT NULL DEFAULT 0,
  `fcm_token` varchar(512) DEFAULT NULL,
  `secretKey` varchar(128) DEFAULT NULL COMMENT 'Per-user HMAC-SHA256 secret (64-char hex)',
  `secretKeyVersion` int(10) unsigned NOT NULL DEFAULT 1 COMMENT 'Key version counter for rotation tracking',
  `secretKeyCreatedAt` timestamp NULL DEFAULT NULL COMMENT 'Timestamp of key generation or last rotation',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_phone` (`phone`),
  UNIQUE KEY `uniq_email` (`email`),
  KEY `idx_role` (`role`),
  KEY `idx_blocked` (`blocked`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (4,'MD Yousuf',NULL,'01894086541','nobab.yousuf.hazi.99@gmail.com','$2a$10$Sno0IIdy6JRRA1kMOmcdGOC9nNZe5/fnRzmNrjAWbBFfI2o9dFGmy',0.00,0,'user',1,'Trial Package','2026-06-30',1,1,0,NULL,'f0aa6fe630cefd9470441cece8fea091a11de648be73fb3d53f67c7d28791b5f',1,'2026-06-23 17:56:23','2026-06-23 17:56:06','2026-06-23 17:56:23'),(12,'',NULL,'01711223344',NULL,'',0.00,0,'user',1,'Basic','2026-06-29',1,1,0,'mock_firebase_push_token_xyz_123',NULL,1,NULL,'2026-06-23 18:51:33','2026-06-23 18:51:33');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-24 22:25:01
